@tailwind base;
@tailwind components;
@tailwind utilities;
[x-cloak] { display: none !important; }
:root{
    font-size: 9px;
}
@media (min-width: 200px) {
    :root{
        font-size: 14px;
    }
}
@media (min-width: 480px) {
    :root{
        font-size: 16px;
    }
}

.very_fast_animation{
    --animate-duration: 200ms;
}

.dropdown {
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #c06162;
  background: #34495e;
  position: relative;
  font-size: 18px;
  perspective: 1000px;
  z-index: 100;
}
.dropdown:hover {
  background: #2980b9;
  cursor: pointer;
}
.dropdown_menu-6 {
  animation: growDown 200ms ease-in-out;
  animation-direction: normal;
  transform-origin: top center;
}
.dropup_menu-6{
  animation: growDown 300ms ease-in-out;
  animation-direction: reverse;
  transform-origin: top center;
}
.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  perspective: 1000px;
  z-index: -1;
}
@-moz-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@-o-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.footer-shadow{
    box-shadow: 0px -12px 20px -3px rgba(0,0,0,0.5);
}
.cart_container{
    --animate-duration: 200ms;
}
